.wp-block-button__link {
    background: linear-gradient(90deg, rgba(251,75,56,1) 0%, rgba(225,42,109,1) 100%);
    color: white;
    border-radius: 4px;
    font-family: "Raleway";
}
.wp-block-button__link:hover {
    background: linear-gradient(90deg, rgba(225,42,109,1) 0%, rgba(251,75,56,1) 100%);
}
blockquote.wp-block-quote {
    border-left: 7px solid rgba(225,42,109,1);
}
.wp-block-quote__citation {
    background: rgba(225,42,109,0.5);
    color: white;
    border-radius: 2px;
    padding: 2px 0px 2px 10px;
}
hr.wp-block-separator {
    background: rgba(225,42,109,1)
}